<!-- mi_plantilla.html -->
{% extends "base.html" %}
{% load static %}

{% block title %} Creacion de tareas {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo_task/css/style.css' %}">
{% endblock %}

{% block content %}
<!-- Contenido personalizado de list_tasks.html aquí -->
<section class="container">
    <h1 class="fs-6">Creación de Tareas</h1>
    <form class="form" method="post">
        {% csrf_token %}
        
        {% for field in task_form %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %} 
        {% endfor %}

        {% for field in task_metadata_form %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>

    <div class="container-return-list">
        <a class="btn btn-secondary" href="{% url 'task-list' %}">Volver a la lista de tareas</a>
    </div>
</section>
{% endblock %}