{% extends "container.html" %}

{% block search-form %}
{% include 'search_form.html' with query=query placeholder=placeholder %}
{% endblock %}

{% block section-fragment %}

{% include 'category-section.html' %}


<section class="second-section">
    <h3>Tareas para hoy</h3>
    <div class="flex-column">
        <ul class="item-list flex-column">
            {% for task in paginator_data %}
            <li class="item-element flex-column">
                <a href="{% url 'task-detail' task.id %}" class="task-link">
                    {{ task.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="item-creation fs-1">
            <a href="{% url 'task-create' %}">Crear nueva tarea</a>
        </div>
    </div>
</section>


{% endblock %}

{% block pagination %}
{% include 'pagination.html' %}
{% endblock %}