{% extends "container.html" %}

{% block section-fragment %}
<section class="content-section">
    <h1 class="fs-3">Categorias</h1>
    <ul class="content-list">
        {% for categoria in paginator_data %}
        <li class="content-item">
            <a href="{% url 'category-detail' categoria.id %}">{{ categoria.name }}</a>
        </li>
        {% endfor %}
    </ul>
</section>


<section class="second-section">
    <div class="item-creation fs-1">
        <a href="{% url 'category-create' %}">Crear nueva categoria</a>
    </div>
</section>

{% endblock %}