{% extends "todo_task/base/container.html" %}

{% block search-form %}
    {% include 'search_form.html' with query=query placeholder=placeholder %}
{% endblock %}

{% block section-fragment %}

{% include 'todo_task/base/category-section.html' %}
<section class="second-section">
    <h3>Tareas</h3>
    <div class="flex-column">
        <ul class="item-list flex-column">
            {% for task in paginator_data %}
            {% if filter_type == 'complete' %}
            <li class="item-element flex-column">
                <a href="{% url 'task-detail' task.id %}" class="task-link">
                    {{ task.title }}
                </a>
            </li>
            {% elif filter_type == 'incomplete' %}
            <li class="item-element flex-column">
                <a href="{% url 'task-detail' task.id %}" class="task-link">
                    {{ task.title }}
                </a>
            </li>
            {% else %}
            <li class="item-element flex-column">
                <a href="{% url 'task-detail' task.id %}" class="task-link">
                    {{ task.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <div class="item-creation fs-1">
            <a href="{% url 'task-create' %}">Crear nueva tarea</a>
        </div>
    </div>
</section>
{% endblock %}

{% block pagination %}
    {% include 'pagination.html' %}
{% endblock %}