<!-- mi_plantilla.html -->
{% extends "base.html" %}
{% load static %}

{% block title %} Actualizacion de categoria {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'todo_task/css/style.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    <h1 class="fs-6">Edicion de categoria</h1>
    <form class="form" method="post">
        {% csrf_token %}

        {% for field in category_form %}
            {{ field.label_tag }}
            {{ field }}
            
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Guardar Cambios">

    </form>
    <div class="container-return-list">
        <a class="btn btn-secondary" href="{% url 'category-list' %}">Volver a la lista de categorias</a>
    </div>
</section>
{% endblock %}