{% extends "base.html" %}
{% load static %}

{% block title %}Detalle de Usuario{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block content %}
<section class="card-container">
    <h1 class="fs-6">Detalle del Usuario</h1>
    <div class="user-card flex-column">
        <div class="user__profile-picture">
            {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="{{ user.first_name }} {{ user.last_name }}">
            {% else %}
            <p class="placeholder">No hay foto de perfil disponible.</p>
            {% endif %}
        </div>

        <div class="user__info flex-column">
            <div class="user__info-box flex-column">
                <p class="fs-5">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="fs-2">{{ user.email }}</p>
            </div>
            <div class="user__info-actives">
                <div class="pair-box">
                    <strong class="fs-2">Activo</strong>
                    {% if user.is_active %}
                    <p><i class="fa-solid fa-check icon"></i></p>
                    {% else %}
                    <p><i class="fa-solid fa-xmark icon"></i></p>
                    {% endif %}
                </div>

                <div class="pair-box">
                    <strong class="fs-2">Staff</strong>
                    {% if user.is_staff %}
                    <p><i class="fa-solid fa-check icon"></i></p>
                    {% else %}
                    <p><i class="fa-solid fa-xmark icon"></i></p>
                    {% endif %}
                </div>

                <div class="pair-box">
                    <strong class="fs-2">Trabajador</strong>
                    {% if user.is_worker %}
                    <p><i class="fa-solid fa-check icon"></i></p>
                    {% else %}
                    <p><i class="fa-solid fa-xmark icon"></i></p>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>

        <div class="actions">
            <h3 class="fs-3">Acciones</h3>
            <div class="cluster">
                <a class="btn btn-edit fs-1" href="{% url 'user-update' user.id %}">Editar Usuario</a>
                {% if user.is_active %}
                <button id="delete-modal" class="btn btn-delete fs-1">Borrar Usuario</button>
                {% else %}
                <form method="POST" action="{% url 'user-reactivate' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-create fs-1">Reactivar Usuario</button>
                </form>

                {% endif %}


                <a class="btn btn-return fs-1" href="{% url 'user-list' %}">Lista de usuarios</a>
            </div>
        </div>
    </div>

    {% include 'modal.html' with title="este usuario" delete_url=delete_url user_id=user_id_for_modal %}
</section>
{% endblock %}