{% extends 'base.html' %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" />
{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="fs-6">Login</h1>

    {% if messages %}
    {% for message in messages %}
    {% if 'alert-danger' in message.tags %}
    <div class="error-message">
        <p class="fs-1">{{ message }}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <form method="POST" class="form-login flex-column">
        {% csrf_token %}
        <div class="input-box fs-1">
            <i class="fa fa-envelope fs-1"></i>
            <input type="email" name="email" id="email" class="fs-1" placeholder="Email" />
        </div>
        <div class="input-box fs-1">
            <i class="fa fa-lock fs-1"></i>
            <input type="password" name="password" id="password" class="fs-1" placeholder="Contraseña" />
        </div>
        <div class="remember-forgot fs-1">
            <label for="remember" class="checkbox-label">
                <input type="checkbox" name="remember" id="remember" class="custom-checkbox" />
                Recordarme
            </label>
        </div>

        <input type="submit" value="Iniciar sesión" class="btn btn-login fs-1" />
        <div class="container-register">
            <p class="fs-1">¿No tienes una cuenta?</p>
            <a href="{% url 'user-create' %}" class="fs-1">Registrarte</a>
        </div>
    </form>
</div>
{% endblock %}