{% extends "base.html" %}
{% load static %}

{% block title %} Actualizacion de Usuario {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" /> {% endblock %}

{% block content %}
<section class="card-container">
    <h1 class="fs-6">Editar Usuario</h1>


    <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in user_form %}
        {{ field.label_tag }}

        {% if field.name == 'profile_picture' %}
        {% if user.profile_picture %}
        <div class="imagen">
            {{ field }}
        </div>
        {% else %}
        <p>No hay imagen de perfil actual.</p>
        {% endif %}

        {% else %}
        {{ field }}
        {% endif %}

        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="Guardar cambios">
    </form>

    <div class="container-return-list">
        <a class="btn btn-secondary" href="{% url 'user-list' %}">Volver a la lista de usuarios</a>
    </div>
</section>

{% endblock %}