{% extends "base.html" %}
{% load static %}

{% block title %} Detalle de Usuario {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
{% endblock %}

{% block content %}
  <section class="container">
    <h1 class="fs-6">Detalle del Usuario</h1>
        <div class="user-card">
            <div class="user-detail">
                <div class="user-detail__profile-picture">
                    {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="{{ user.first_name }} {{ user.last_name }}">
                    {% else %}
                    <p class="profile-picture-placeholder">No hay foto de perfil disponible.</p>
                    {% endif %}
                </div>
                <div class="user-detail__info">
                    <div class="user-detail__info__layer">
                        <p class="info-name fs-2">{{ user.first_name}} {{ user.last_name}}</p>
                    </div>
                    <div class="user-detail__info__layer">
                        <p class="info-email fs-1">{{user.email}}</p>
                    </div>
                    <div class="user-detail__info__layer">
                    <div class="info-pair">
                        <strong class="fs-1">Activo</strong>
                        {% if user.is_active %}
                        <p><i class="fa-solid fa-check status-cell__ticket"></i></p>
                        {% else %}
                        <p><i class="fa-solid fa-xmark status-cell__cross"></i></p>
                        {% endif %}
                    </div>
                    
                    <div class="info-pair">
                        <strong class="fs-1">Staff</strong>
                        {% if user.is_staff %}
                        <p><i class="fa-solid fa-check status-cell__ticket"></i></p>
                        {% else %}
                        <p><i class="fa-solid fa-xmark status-cell__cross"></i></p>
                        {% endif %}
                    </div>
                    
                    <div class="info-pair">
                        <strong class="fs-1">Trabajador</strong>
                        {% if user.is_worker %}
                        <p><i class="fa-solid fa-check status-cell__ticket"></i></p>
                        {% else %}
                        <p><i class="fa-solid fa-xmark status-cell__cross"></i></p>
                        {% endif %}
                    </div>

                    </div>

                    </p>
                </div>
            </div>
        <div class="container-actions">
            <a class="btn btn-edit" href="{% url 'user_update' user.id %}">Editar Usuario</a>
            {% if is_not_current_user %}
            <a class="btn btn-delete" href="#" id="delete-user">Borrar Usuario</a>
            {% endif %}
            <a class="btn btn-return" href="{% url 'user_list' %}">Lista de usuarios</a>
        </div>
    </div>

    <div id="delete-task-modal" class="modal">
        <div class="modal-content">
            <span class="close"></span>
            <p class="fs-1">¿Estás seguro de que deseas borrar este usuario?</p>
            <div class="modal-content__btn-container">
                <form  method="POST" action="{% url 'user_delete' user.id %}">
                    {% csrf_token %}
                    <input id="confirm-delete" class="btn" type="submit" value="Confirmar" />
                </form>
                <button id="cancel-delete" class="btn">Cancelar</button>
            </div>
        </div>
    </div>

  </section>

{% block script %}
    <script src="{% static 'users/js/main.js' %}"></script>
{% endblock %}
{% endblock %}
