{% extends "base.html" %}
{% load static %}

{% block title %} Actualizacion de Usuario {% endblock %}

{% block content %}
<section class="container">
    <h1>Crear Usuario</h1>

   
        <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in user_form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}

        <input type="submit" class="btn-save btn-create" value="Enviar">
    </form>

    <div class="container-return">
        <a class="btn btn-return" href="{% url 'user_list' %}">Volver a la lista de usuarios</a>
    </div>
</section>

{% endblock %}
