{% extends "base.html" %}
{% load static %}

{% block title %} Creacion de Usuario {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" /> {% endblock %}

{% block content %}
<section class="container">
    <h1 class="fs-6">Crear Usuario</h1>
        <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in user_form %}
            <label for="{{ field.id_for_label }}">{{ field.label }} </label>
            <div class="register-input-box">
                {{ field }}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="container-login">
                <a class="btn" href="{% url 'login' %}">Login</a>
                <input type="submit" class="btn" value="Registrarse">
            </div>
        </form>
        
</section>

{% endblock %}
