{% extends "base.html" %}
{% load static %}

{% block title %} Creacion de Usuario {% endblock %}

{% block content %}
<section class="container">
    <h1>Crear Usuario</h1>
        <form class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in user_form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}

        <input type="submit" class="btn-save btn-create" value="Registrarse">
    </form>
    <div>
        <a href="{% url 'login' %}">Login</a>
    </div>

</section>

{% endblock %}
