{% extends "base.html" %}
{% load static %}

{% block title %} Listado de usuarios {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" /> {% endblock %}

{% block content %}
<section class="container">
    <h1 class="fs-6">Lista de Usuarios</h1>
    <div class="table-wrapper">
        <table>
            <caption role="caption" class="fs-3">
                Lista de usuarios
            </caption>
            <thead>
                <tr class="table__headers fs-1">
                    <th>Acción</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha creación</th>
                    <th>Activo</th>
                    <th>Staff</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td headers="actions"><a class="table__action" href="{% url 'user_detail' user.id %}">Ver detalles</a>
                    </td>
                    <td headers="email">{{ user.email }}</td>
                    <td headers="first_name">{{ user.first_name }}</td>
                    <td headers="last_name">{{ user.last_name }}</td>
                    <td headers="date_joined">{{ user.date_joined }}</td>
                    <td headers="is_active" class="table__status-cell">{% if user.is_active %}<i
                            class="fa-solid fa-check status-cell__ticket"></i>{% else %}<i
                            class="fa-solid fa-xmark status-cell__cross"></i>{% endif %}</td>
                    <td headers="is_staff" class="table__status-cell">{% if user.is_staff %}<i
                            class="fa-solid fa-check status-cell__ticket"></i>{% else %}<i
                            class="fa-solid fa-xmark status-cell__cross"></i>{% endif %}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No hay usuarios registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
    
        </table>
</div>



    <!-- Enlaces de paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
            <a href="?page={{ users.previous_page_number }}">previous</a>
            {% else %}
            <span class="disabled">previous</span>
            {% endif %}

            <span class="current-page">
                Página {{ users.number }} de {{ users.paginator.num_pages }}.
            </span>

            {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">next</a>
            {% else %}
            <span class="disabled">next</span>
            {% endif %}
        </span>
    </div>

    <div class="links-container">
        <a class="btn" href="{% url 'user_create' %}">Crear Usuario</a>
    </div>
</section>


{% endblock %}