{% extends "base.html" %}
{% load static %}

{% block title %} Listado de usuarios {% endblock %}

{% block content %}
  <section class="container">
    <h1 class="fs-6">Lista de Usuarios</h1>
    
    <table class="table">
        <caption class="fs-2">
            Lista de Usuarios
        </caption>
        <thead>
            <tr class="table__headers fs-1">
                <th>Acción</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha creación</th>
                <th>Activo</th>
                <th>Staff</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="fs-0">
                <td><a class="table__action" href="{% url 'user_detail' user.id %}">Ver detalles</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td class="table__status-cell">{% if user.is_active %}<i class="fa-solid fa-check status-cell__ticket"></i>{% else %}<i class="fa-solid fa-xmark status-cell__cross"></i>{% endif %}</td>
                <td class="table__status-cell">{% if user.is_staff %}<i class="fa-solid fa-check status-cell__ticket"></i>{% else %}<i class="fa-solid fa-xmark status-cell__cross"></i>{% endif %}</td>
          </tr>
        {% empty %}
          <tr>
              <td colspan="7">No hay usuarios registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</section>

<div class="container">
    <a class="btn btn-create" href="{% url 'user_create' %}">Crear Usuario</a>
</div>
{% endblock %}
