{% extends "base.html" %}
{% load static %}

{% block title %} Eliminacion de Usuario {% endblock %}

{% block content %}
  <section class="container">
    <h1>Confirmar Borrado de Usuario</h1>

    <p>¿Estás seguro de que deseas eliminar al usuario "{{ user.first_name }} {{ user.last_name }}"?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit">Sí, Eliminar Usuario</button>
    </form>

    <a href="{% url 'user_list' %}">Cancelar y volver a la lista de usuarios</a>
  </section>
{% endblock %}
