/* NUEVO DISEÑO */
:root {
    --clr-main: #206de0;
    --clr-item-1: #a328b9;
    --clr-item-2: #3498db;
    --clr-item-3: #e74c3c;
    --clr-item-4: #27ae60;
    --clr-item-5: #f1c40f;

    --clr-item-1-hover: #8e1a9b;
    --clr-item-2-hover: #2575ab;
    --clr-item-3-hover: #c0392b;
    --clr-item-4-hover: #1f8e3a;
    --clr-item-5-hover: #d4af0a;

    --br: 10px;
    --gap-1: 1rem;
    --fw-bold: 700;
    --mt-2: 2rem;
}

h3 {
    font-weight: var(--fw-bold);
    color: var(--clr-main);
}


/* ------------------------------- Lista Tareas ------------------------------- */
.search-form {
    display: flex;
    gap: var(--gap-1);
    margin-block: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-form input[type="text"] {
    padding: clamp(0.25rem, 0.5rem, 0.75rem);
    border: 2px solid #ccc;
    border-radius: calc(var(--br) - 5px);
    flex-grow: 2;
    outline: 0;
}

.search-form .btn {
    border: 0;
    flex-grow: 1;
}

.card {
    display: grid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.user {
    padding: 2rem;
    gap: var(--gap-1);
    background-color: var(--clr-main);
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
}

.user-info img {
    display: none;
}

.user-info h2 {
    color: white;
}

.user-options {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-1);
}

.user-options a {
    color: white;
    text-decoration: none;
}

.task {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-bottom-left-radius: var(--br);
    border-bottom-right-radius: var(--br);
}

.task h2 {
    color: var(--clr-main);
    font-weight: var(--fw-bold);
    line-height: 1.25;
}

.task > p {
    color: var(--clr-main);
    font-weight: var(--fw-bold);
}

.content-section {
    display: grid;
    gap: 0.25rem;
    margin-top: var(--mt-2);
}

.content-section > h1 {
    text-align: left;
    color: var(--clr-main);
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-1);
    justify-content: space-between;
    list-style: none; /* Elimina los puntos de la lista por defecto */
    padding: 0; /* Elimina el relleno de la lista por defecto */
}

.content-item {
    flex: 1;
    color: #fff;
    border-radius: var(--br);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    flex-basis: 33%;
}

.content-item a {
    display: block;
    padding-inline: clamp(0.25rem, 0.75rem, 2rem);
    padding-block: 1rem;
    color: white;
    text-decoration: none;
}

.content-item > p {
    padding-inline: clamp(0.25rem, 0.75rem, 2rem);
    padding-block: 0.5rem;
    color: white;
}

.content-item > p:first-child {
    font-weight: var(--fw-bold);
}

.content-count {
    color: #ddd;
}

/* Estilo para la lista de tareas */
.second-section {
    margin-top: var(--mt-2);
}

.item-list {
    gap: var(--gap-1);
    list-style-type: none;
    flex-grow: 1;
}

.item-element {
    background-color: #f0f1f166;
    border: 1px solid #ddd;
    border-radius: var(--br);
    justify-content: space-between;
}

.task-link {
    text-decoration: none;
    color: #007bff;
    font-weight: var(--fw-bold);
    padding: 1rem;
}

.task-link:hover {
    text-decoration: underline;
}

.item-creation {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--mt-2);
}

.item-creation a {
    background-color: var(--clr-main);
    color: white;
    padding-inline: clamp(1rem, 1.5rem, 2rem);
    padding-block: 1rem;
    border-radius: var(--br);
    border: 0;
    font-weight: var(--fw-bold);
    text-decoration: none;
    transition: color 250ms ease-in-out, background 250ms ease-in-out;
}

.item-creation a:hover {
    color: var(--clr-main);
    background-color: transparent;
    outline: 1px solid var(--clr-main);
}

/* ------------------------------- Lista Tareas ------------------------------- */

/* ------------------------------- Detalle tarea ------------------------------- */
.card__body {
    background-color: #fff;
    border-radius: calc(var(--br) - 5px);
    padding: 2rem;
    margin-block: 2rem;
}

.card__body h2 {
    font-weight: var(--fw-bold);
    margin-block: 0.25rem;
    color: var(--clr-main);
    word-wrap: break-word; /* O también puedes usar overflow-wrap: break-word; */
}

.card-info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-1);
}

.card-info-item {
    flex: 1;
    color: #fff;
    padding: 1rem;
    border-radius: var(--br);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    flex-basis: calc(33.33% - 1rem);
}

.card-info-item > p:first-child {
    font-weight: var(--fw-bold);
}

.card-info-item:nth-child(1) {
    background-color: var(--clr-item-1);
}

.card-info-item:nth-child(2) {
    background-color: var(--clr-item-2);
}

.card-info-item:nth-child(3) {
    background-color: var(--clr-item-3);
}

.card-info-item:nth-child(4) {
    background-color: var(--clr-item-4);
}

.card-info-item:nth-child(5) {
    background-color: var(--clr-item-5);
}

.actions {
    margin-top: var(--mt-2);
}


/* ------------------------------- Detalle tarea ------------------------------- */

/* ------------------------------- Analiticas ------------------------------- */
.grid-layout {
    display: grid;
    grid-auto-flow: row;
    gap: var(--gap-1);
}

.content-item-analytic {
    list-style-type: none;
    border-radius: var(--br);
}

.content-item-analytic:nth-child(1) {
    background-color: var(--clr-item-1);
}

.content-item-analytic:nth-child(2) {
    background-color: var(--clr-item-2);
}

.content-item-analytic:nth-child(3) {
    background-color: var(--clr-item-3);
}

.content-item-analytic:nth-child(4) {
    background-color: var(--clr-item-4);
}

.content-item-analytic:nth-child(5) {
    background-color: var(--clr-item-5);
}

.content-item-analytic:nth-child(1):hover {
  background-color: var(--clr-item-1-hover);
}

.content-item-analytic:nth-child(2):hover {
  background-color: var(--clr-item-2-hover); 
}

.content-item-analytic:nth-child(3):hover {
  background-color: var(--clr-item-3-hover); 
}

.content-item-analytic:nth-child(4):hover {
  background-color: var(--clr-item-4-hover); 
}

.content-item-analytic:nth-child(5):hover {
  background-color: var(--clr-item-5-hover); 
}

.content-item-analytic a {
    display: block;
    padding: 1rem;
    color: white;
    height: 100%;
    text-decoration: none;
}



/* ------------------------------- Detalles ------------------------------- */
.task-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.task-info-dates {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.task-info-dates div {
    flex-grow: 1;
    border-radius: var(--br);
    padding: 1rem;
    color: white;
}

.task-info-dates div:nth-child(1) {
    background-color: var(--clr-item-1);
}

.task-info-dates div:nth-child(2) {
    background-color: var(--clr-item-2);
}

.task-info-category,
.task-info-priority,
.task-info-description {
    padding: 1rem;
    border-radius: var(--br);
    color: white;
}

.task-info-category {
    background-color: var(--clr-item-3);
}

.task-info-priority {
    background-color: var(--clr-item-4);
}

.task-info-description {
    background-color: var(--clr-item-5);
}


/* ------------------------------- Detalles ------------------------------- */

/* ------------------------------- Analiticas ------------------------------- */

@media (min-width: 45em) {
    .card {
        grid-template-columns: 30% 1fr;
    }

    .user-info img {
        display: block;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }

    .user-options {
        flex-direction: column;
    }

    .cluster {
        flex-direction: row;
    }

    .cluster a {
        flex: 1;
    }

    .cluster a:last-child {
        flex-basis: 100%;
    }

    .grid-layout {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid-col-span-2 {
        grid-column: span 2;
    }

    .grid-col-span-3 {
        grid-column: span 3;
    }
}
