<!-- mi_plantilla.html -->
{% extends "base.html" %}

{% block title %} Lista de tareas {% endblock %}

{% block content %}
<!-- Contenido personalizado de list_tasks.html aquí -->
<section class="container">
    <h1 class="fs-6">Creación de Tareas</h1>
    <!-- <form class="create-task" method="POST">
        {% csrf_token %}
        
        {{ form.title.label_tag }} {{ form.title }}
        {{ form.title.errors }}

        {{ form.complete.label_tag }} {{ form.complete }}
        {{ form.complete.errors }}

        {{ form.labels.label_tag }} {{ form.labels }}
        {{ form.labels.errors }}

        <!-- <input class="new-task" type="submit" value="Enviar"> -->
    <!-- </form> --> 

    <form class="form" method="post">
        {% csrf_token %}
        
        {% for field in task_form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}

        {% for field in task_metadata_form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <p class="error">{{ field.errors }}</p>
            {% endif %}
        {% endfor %}
        <input type="submit" class="btn-save btn-create" value="Enviar">
    </form>

    <div class="container-return">
        <a class="btn btn-return" href="{% url 'list_tasks' %}" class="btn-back">Volver a la lista de tareas</a>
    </div>
</section>


{% endblock %}


