{% extends "base.html" %}
{% load static %}

{% block title %} Lista de tareas {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'todo_task/css/style.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    
    <h1 class="fs-6">Taskmaster</h1>
    <form class="search-form" method="get">
        <input type="text" name="q" value="{{ query }}" placeholder="Buscar tareas">
        <input class="btn" type="submit" value="Buscar">
    </form>

    <!-- NUEVO DISEÑO-->
    <section class="card">

        <div class="user">
            <div class="user-info">
                <img src="{{ request.user.profile_picture.url }}" alt="Foto de perfil">

                <h2 class="fs-4">{{ request.user.first_name }}</h2>
            </div>
            <div class="options fs-1">
                <a href="#"><i class="bi bi-grid"></i> Categorias</a>
                <a href="#"><i class="bi bi-bar-chart"></i> Analiticas</a>
                <a href="#"><i class="bi bi-gear"></i> Opciones</a>

            </div>
        </div>
        <div class="task">
            <h2 class="fs-4">Hola, {{ request.user.first_name }}!</h2>
            <p class="task_date fs-3">{{ fecha_actual|date:"l, j \d\e F \d\e Y" }}</p>

            <div class="categorias">
                <h3>Categorias</h3>
                <div class="categoria_lista">
                    {% for categoria in categorias %}
                    <div class="categoria">
                        <p>{{ categoria.name }}</p>
                        <p class="categoria_count">{{ categoria.task_count }} tasks</p>
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div class="tasks">
                <h3>Tareas</h3>
                <div class="task-container">
                    <ul class="task-list">
                        {% for task in tasks %}
                        <li class="task-element">
                            <a href="{% url 'task_detail' task.id %}" class="task-link">
                                {{ task.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="task-creation fs-1">
                        <a href="{% url 'create_task' %}">Crear nueva tarea</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Enlaces de paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if tasks.has_previous %}
            <a href="?page={{ tasks.previous_page_number }}">previous</a>
            {% else %}
            <span class="disabled">previous</span>
            {% endif %}

            <span class="current-page">
                Página {{ tasks.number }} de {{ tasks.paginator.num_pages }}.
            </span>

            {% if tasks.has_next %}
            <a href="?page={{ tasks.next_page_number }}">next</a>
            {% else %}
            <span class="disabled">next</span>
            {% endif %}
        </span>
    </div>

</section>

{% block script %}
<script src="{% static './todo_task/js/main.js' %}"></script>
{% endblock %}

{% endblock %}