<!-- mi_plantilla.html -->
{% extends "base.html" %}

{% block title %} Lista de tareas {% endblock %}

{% block content %}
<!-- Contenido personalizado de list_tasks.html aquí -->
<h1>Lista de Tareas</h1>
<ul>
    {% for task in tasks %}
    <li>{{ task.title }}</li>
    <li>Completada: {{ task.complete }}</li>
    <li>Fecha de registro: {{ task.created|date:"d/m/Y" }}</li>
    {% endfor %}
</ul>

<h2>Tareas completadas</h2>
<ul>
    {% for task in tasks %} {% if task.complete %}
    <li>{{ task.title }}</li>
    <li>Completada: {{ task.complete }}</li>
    {% endif %} {% endfor %}
</ul>

<h2>Tareas por completar</h2>
<ul>
    {% for task in tasks %} {% if not task.complete %}
    <li>{{ task.title }}</li>
    <li>Completada: {{ task.complete }}</li>
    {% endif %} {% endfor %}
</ul>
{% endblock %}


