{% extends "base.html" %}
{% load static %}

{% block title %} Detalle de Tarea {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'todo_task/css/style.css' %}">
{% endblock %}

{% block content %}
<section class="card-container">
    <h1 class="fs-6">Detalle de Tarea</h1>
    <div class="card__body">
        <h2 class="fs-4">{{ task.title }}</h2>

        <div class="task-info">
            <div class="task-info-item">
                <p>Fecha Creacion</p>
                <p class="categoria_count">{{ task.created|date:"d/m/Y" }}</p>
            </div>
            <div class="task-info-item">
                <p>Categorias</p>
                <p class="categoria_count">
                    {% for label in task.labels.all %}
                    {{ label.name }}{% if not forloop.last %} - {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="task-info-item">
                <p>Prioridad</p>
                <p class="categoria_count">{{ task.taskmetadata.priority }}</p>
            </div>
            <div class="task-info-item">
                <p>Descripcion</p>
                <p>{{ task.taskmetadata.description }}</p>
            </div>
        </div>


            <h3 class="fs-3 actions">Acciones</h3>
            <div class="cluster">
                <a class="item btn btn-edit" href="{% url 'edit_task' task.id %}">Editar Tarea</a>
                <a class="item btn btn-delete open-modal-btn" href="#" id="delete-task">Borrar Tarea</a>
                <a class="item btn btn-return" href="{% url 'list_tasks' %}">Lista de tareas</a>
            </div>
    </div>

    <div id="delete-task-modal" class="modal">
        <div class="modal-content">
            <p class="fs-1">¿Estás seguro de que deseas borrar esta tarea?</p>
            <div class="modal-content__btn-container">
                <form method="POST" action="{% url 'delete_task' task.id %}">
                    {% csrf_token %}
                    <input id="confirm-delete" class="btn fs-2" type="submit" value="Confirmar" />
                </form>
                <button id="cancel-delete" class="btn fs-2">Cancelar</button>
            </div>
        </div>
    </div>
</section>

{% block script %}
<script src="{% static 'todo_task/js/main.js' %}"></script>
{% endblock %}

{% endblock %}