{% extends "base.html" %}
{% load static %}

{% block title %} Detalle de Tarea {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo_task/css/style.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    <h1 class="fs-6">Detalle de Tarea</h1>
    <table class="task-table">
        <tr>
            <th>Título:</th>
            <td>{{ task.title }}</td>
        </tr>
        <tr>
            <th>Finalización:</th>
            <td>{{ task.complete }}</td>
        </tr>
        <tr>
            <th>Creada:</th>
            <td>{{ task.created }}</td>
        </tr>
        <tr>
            <th>Descripción:</th>
            <td>{{ task.taskmetadata.description }}</td>
        </tr>
        <tr>
            <th>Prioridad:</th>
            <td>{{ task.taskmetadata.priority }}</td>
        </tr>
    </table>

    <div class="edit-task__container">
        <a class="btn btn-edit" href="{% url 'edit_task' task.id %}">Editar Tarea</a>

        <button class="btn btn-delete">Borrar Tarea</button>
    </div>

    <div id="delete-task-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p class="fs-1">¿Estás seguro de que deseas borrar esta tarea?</p>
            <div class="modal-content__btn-container">
                <form class="delete-form" method="POST" action="{% url 'delete_task' task.id %}">
                    {% csrf_token %}
                    <input id="confirm-delete" class="btn btn-delete"  type="submit" value="Confirmar" />
                </form>
                <button id="cancel-delete" class="btn btn-cancel">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="container-return">
        <a class="btn btn-return" href="{% url 'list_tasks' %}" class="btn-back">Volver a la lista de tareas</a>
    </div>
</section>

    {% block script %}
    <script src="{% static 'todo_task/js/main.js' %}"></script>
{% endblock %}

{% endblock %}
