{% if request.user.is_authenticated %}
<header class="primary-header flex">
    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
        <span class="sr-only">Menu</span>
    </button>
    <nav>
        <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
            <li class="active"><a href="{% url 'task-list-today-due-date' %}">Tareas</a></li>
            {% if request.user.is_staff %}
            <li class="active"><a href="{% url 'user-list' %}">Usuarios</a></li>
            {% endif %}
            <li class="active has-dropdown">{{ request.user.email }} <i class="fa-solid fa-chevron-down"></i>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="{% url 'user-detail' request.user.id %}">Mi Perfil</a>
                    </li>
                    <li class="dropdown-item"><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
{% endif %}