:root {
    /* Colores */
    --clr-white: rgb(255, 255, 255);
    --clr-accent-700: rgb(128, 0, 128);
    --fw-bold: 700;
}

.grid-center {
    display: grid;
    place-content: center;
}

/* Estilos para el login */
.error-message {
    margin-block: 1rem;
    background-color: rgb(255, 51, 51);
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.login-container {
    width: min(100% - 3rem, 120ch);
    margin-inline: auto;
    display: grid;
    place-content: center;
    min-height: 100svh;
    background-color: var(--clr-accent-700);
}

.login-container > h1 {
    color: var(--clr-white);
    text-align: center;
    margin-block: 1rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 100%; /* Resta 40px para dejar espacio al ícono */
    padding: 0.75rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 40px;
    color: var(--clr-white);
    background-color: transparent;
    padding-left: 2.75rem;
}

.input-box input::placeholder {
    color: var(--clr-white);
}

.input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--clr-white);
}

.remember-forgot {
    display: flex;
    justify-content: flex-start;
    padding-inline: 1rem;
}

.checkbox-label {
    color: var(--clr-white);
}

.custom-checkbox {
    aspect-ratio: 1;
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
}

.btn-login {
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: var(--clr-accent-700);
    font-weight: var(--fw-bold);
    padding: 1rem;
}

.btn-login:hover {
    background-color: var(--clr-white);
    color: rgb(0, 0, 0);
}

.container-register {
    display: flex;
    color: var(--clr-white);
    gap: 0.5rem;
    justify-content: space-between;
}

.container-register a {
    color: var(--clr-white);
    font-weight: var(--fw-bold);
}

.container-register a:hover {
    text-decoration: underline;
}

/* Registro de usuarios */

.custom-input {
    color: var(--clr-white);
}

.custom-input::placeholder {
    color: rgb(146, 146, 146);
}

.register-input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-login {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: baseline;
    align-content: baseline;
    margin-block: 2rem;
}

.container-login a {
    color: var(--clr-white);
    background-color: transparent;
    border: 2px solid var(--clr-white);
    flex-grow: 1;
}

.container-login input[type="submit"] {
    flex-grow: 1;
}

.container-login a:hover {
    transition: background 0.25s ease-in-out;
    background-color: var(--clr-white);
    color: var(--clr-accent-700);
}

/* Lista de usuarios */

/* Detalle de usuarios */
.card-container {
    width: min(100% - 3rem, 60ch);
    margin-inline: auto;
    margin-block: 1rem;
}

.card-container h1 {
    width: min(100% - 3rem, 40ch);
    text-align: left;
}

/* Tarjeta de usuario */
.user-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    margin-block: 1rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    text-align: center;
    background-color: var(--clr-white);
    border-radius: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* Estilos de la imagen de perfil */

.user__profile-picture {
    align-self: center;
}

.user__profile-picture img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* Estilos del marcador de posición de la imagen de perfil */
.user__profile-picture .placeholder {
    color: rgb(136, 136, 136);
    text-align: center;
}

/* Estilos del contenedor de información del usuario */
.user__info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1rem;
}

.user__info-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.user__info-box > p:first-child {
    font-weight: var(--fw-bold);
}

.user__info-box > p:nth-child(2) {
    color: #333;
}

/* Estilos del contenedor de pares de información */
.user__info-actives {
    display: grid;
    gap: 0.5rem;
}

.pair-box {
    color: var(--clr-white);
    border-radius: 10px;
    padding: 1rem;
}

.pair-box:first-child {
    background-color: #a328b9;
}

.pair-box:nth-child(2) {
    background-color: #e74c3c;
}

.pair-box:last-child {
    background-color: #27ae60;
}

.pair-box > strong {
    font-weight: var(--fw-bold);
}

hr {
    height: 0.25rem;
}


.actions {
    font-weight: var(--fw-bold);
}

@media (min-width: 35em) {
    .user__info-actives {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .cluster {
        flex-direction: row;
    }
    
    .cluster > * {
        flex-grow: 1;
        
    }

}

.delete-form input[type="submit"] {
    background-color: var(--clr-accent-700);
    color: var(--clr-white);
}

.modal-content__btn-container .btn {
    background-color: transparent;
    color: var(--clr-accent-700);
    border: 2px solid var(--clr-accent-700);
}

.delete-form input[type="submit"]:hover {
    background-color: transparent;
    color: var(--clr-accent-700);
    border: 2px solid var(--clr-accent-700);
}

.modal-content__btn-container .btn:hover {
    background-color: var(--clr-accent-700);
    color: var(--clr-white);
}

.imagen {
    overflow: hidden; /* Evita que el contenido se desborde */
    white-space: nowrap; /* Evita el salto de línea del texto */
}

/* Actualizar usuario */

.container-list {
    padding: 1.25rem;
}

@media (min-width: 35em) {
    .card-container {
        margin-top: 0;
    }

    .user-detail__info__layer {
        align-items: flex-start;
    }

    .user-detail__info__actives {
        flex-direction: column;
    }
}
